:root {
    --primary-color: #3498c2;
    --secondary-color: #3498c2;
    --tertiary-color: aliceblue;
}

body {
    background-color: #282828;
    color: var(--tertiary-color) !important;
    font-family: 'Gideon Roman', serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.bible-logo {
    width: 70px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    left: 0px;
    top: -10px;
}
#wrapper .bible-logo {
    position: relative;
    bottom: 30px;
    /* visibility: hidden; */
}
.navbar {
    background-color: var(--primary-color);
    height: 70px;
}
.navbar-brand {
    position: relative;
    left: 20px;
    color: var(--tertiary-color) !important;
}
.todays-verse-btn {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 8px;
    font-size: 18px;
    padding: 4px;
    border: 1px solid transparent;
    position: relative;
    right: 30px;
    top: -8px;
}
.todays-verse-btn:hover {
    background-color: hotpink;
    color: var(--tertiary-color);
    border: 1px solid rgb(192, 17, 134);
    font-weight: 500;
    font-size: 20px;
    font-weight: 900;
}
/* .bible-img {
    background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/123/054/original/pexels-tima-miroshnichenko-5199805_brown_bible.jpg?1713067217');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1200px !important;
} */
.main {
    text-align: center;
    background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/123/055/original/pexels-ella-wei-8268315rosebible.jpg?1713072865');
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    width: 1536px;
    top: 2px;
    /* filter: blur(5px); */
}
.main-content-h2 {
    position: relative;
    top: 100px;
}
.main-content-input {
    position: relative;
    top: 140px;
    border-radius: 9px;
    height: 40px;
    width: 300px;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    color: var(--tertiary-color);
    font-size: 18px;
}
::placeholder {
    color: rgb(250, 232, 232);
}
.search-btn {
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    position: relative;
    top: 140px;
    border-radius: 9px;
    width: 90px;
    font-size: 18px;
    padding: 6px;
    border: 1px solid transparent;
}
.search-btn:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}
.search-result-box {
    position: relative;
    top: 180px;
    font-size: 30px;
}
.todays-verse {
    background-color: var(--secondary-color);
    text-align: center;
    font-size: 30px;
}

.footer {
    display: block;
    text-align: center;
    color: var(--tertiary-color);
    text-decoration: none;
    background-color: var(--secondary-color);
    position: relative;
    top: -14px;
}
a {
    text-decoration: none !important;
    color: hotpink !important;
}
